* {
  box-sizing: border-box;
}

html {
  background-color: #deb896;
  color: black;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 50px 50px;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: black solid;
  padding: 5px;
  margin: 50px 5px 20px 5px;
}

.Ich {
  border: 1.5px solid black;
  border-radius: 8px;
  width: 200px;
}
.Ich:hover {
  box-shadow: 2px 2px 2px 2px #6c4f35;
}

ul {
  list-style: none;
  text-align: left;
}

a {
  color: rgb(107, 78, 56);
}

a:hover {
  color: blue;
  background-color: black; /* warum verändert sich nichts*/
}

a:visited {
  color: black; /* warum verändert sich nichts? */
}
