* {
  box-sizing: border-box;
}

html {
  background-color: #deb896;
  color: black;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 50px 50px;
  color: rgb(107, 78, 56);
  text-align: center;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: rgb(107, 78, 56) solid;
  padding: 5px;
  margin: 50px 5px 35px 5px;
  text-align: center;
  color: rgb(107, 78, 56);
}

.Ich {
  border: 1.5px solid black;
  border-radius: 8px;
  width: 200px;
}
.Ich:hover {
  box-shadow: 2px 2px 2px 2px #6c4f35;
}

ul {
  color: rgb(208, 131, 72);
  margin: 0px 100px 100px 100px;
  list-style: square;
}

a {
  color: rgb(107, 78, 56);
}

a:hover {
  color: rgb(237, 227, 199);
  background-color: black; /* warum verändert sich nichts*/
}

a:visited {
  color: rgb(208, 131, 72); /* warum verändert sich nichts? */
}

p {
  text-align: left;
  margin: 15px;
}

.intro {
  border-left: rgb(222, 154, 51) solid 5px;
  padding: 0px 10px;
}

.hobbys {
  border-left: rgb(220, 158, 105) solid 5px;
  padding: 0px 10px;
}

h3 {
  color: rgb(208, 131, 72);
  border: rgb(208, 131, 72) solid 1px;
  margin: 100px 100px 50px 100px;
  padding: 5px;
  text-align: center;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: ;
}
